body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: lightgray;
}
/* Main Display*/
#aboutform {
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid slategray;
    border-radius: 10px;
    background-color: rgb(224, 215, 215);
    padding: 5px;
    min-height: 80vh;
}
h5, p {
    text-align: center;
}
h5 {
    font-weight: 800;
}